<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edupractice.malaria.modules.analyzeDisease.dao.DynamicOutbreakMapper">
    <resultMap id="addressResultMap" type="com.edupractice.malaria.modules.analyzeDisease.pojo.DynamicOutbreakRe">
        <result property="addressCount" column="addressCount"/>
        <result property="address" column="address"/>
    </resultMap>

    <select id="selectAddressByYearMonth"
            parameterType="com.edupractice.malaria.modules.analyzeDisease.pojo.DynamicOutbreakVo"
            resultMap="addressResultMap">
        SELECT ag.address address,COUNT(ag.address) addressCount FROM patient_cases_information pc,patient_information
        pi
        WHERE pc.cardID=pi.cardID AND pc.`year`=pi.`year`
        AND YEAR(pc.illDate)=#{year} AND MONTH(pc.illDate)=#{month}
        <if test="province!='' and province!=null">
            AND ag.address LIKE '${province}%'
        </if>
        GROUP BY ag.address;
    </select>
</mapper>