<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edupractice.malaria.modules.download.dao.DistrictInfoMapper">
    <select id="selectProvinces" resultType="com.edupractice.malaria.modules.common.pojo.FourLevelLinkage">
        SELECT * FROM four_level_linkage WHERE `level` = 1
    </select>

    <select id="selectCities" parameterType="java.lang.Integer" resultType="com.edupractice.malaria.modules.common.pojo.FourLevelLinkage">
        SELECT * FROM four_level_linkage WHERE upId =#{upId} AND `level` =2;
    </select>

    <select id="selectCounties" parameterType="java.lang.Integer" resultType="com.edupractice.malaria.modules.common.pojo.FourLevelLinkage">
        SELECT * FROM four_level_linkage WHERE upId =#{upId} AND `level` =3;
    </select>

    <select id="selectVillages" parameterType="java.lang.Integer" resultType="com.edupractice.malaria.modules.common.pojo.FourLevelLinkage">
        SELECT * FROM four_level_linkage WHERE upId =#{upId} AND `level` =4;
    </select>
</mapper>