html,body
{
	margin: 0;
	padding: 0;
}

.iw_pow_title
{
	color: #CC5522;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding-right: 13px;
	white-space: nowrap;
}

.iw_pow_content
{
	font: 12px arial sans-serif;
	overflow: visible;
	padding-top: 4px;
	white-space: -moz-pre-wrap;/*无该项选择*/
	word-wrap: break-word;
}
