<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<meta charset="UTF-8" />
		<title>观测站数据下载</title>
		<!--引用css-->
		<link rel="stylesheet" type="text/css" th:href="@{/css/plugins/iCheck/flat/blue.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/mycss/download.css}" />
	</head>
	
	<body>
		<section class="container">
			<div align="center">
				<h2>观测站数据下载</h2>
			</div>
			
			<div class="partDivide">
				<a id="returnTerm" class="btn btn-primary pull-left"  th:href="@{/DownloadDBData/downloadView}" style="margin-left: 50px;">返回</a>
				<button id="submitTerm" class="btn btn-primary pull-right" type="submit">开始下载</button>
			</div>
			
			<hr />
			
			<div class="partDivide">
				<div class="fieldContainer">
					<div class="describe">
						<div>
							<span class="fieldName">请选择将要下载的字段：</span>
							<button id="needNon" class="btn btn-default">全部选</button>
							<button id="needAll" class="btn btn-default">全选</button>
						</div>
					</div>

					<table>
						<tr th:each="categoryFieldsRe,categoryFieldsReStat : ${categoryFieldsRes}">
							<label class="field">
								<input type="checkbox" id="fields" name="selectedFields" th:value="${categoryFieldsRe.displayName}"/>
								<label th:text="${categoryFieldsRe.displayName}"></label>
							</label>
						</tr>
					</table>
				</div>
			</div>
		</section>
		
		<!--引用js-->
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
		<script type="text/javascript" th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/plugins/layer/layer.js}"></script>
		<script type="text/javascript" th:src="@{/js/myjs/downloadStation.js}"></script>
	</body>
</html>
