<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="UTF-8" />
	<title>疟疾数据下载</title>
	<!--引用css-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/plugins/iCheck/flat/blue.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<!--自定义css-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/mycss/download.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mycss/downloadDisease.css}" />
</head>
<body>
<section class="container">
	
	<div align="center">
		<h2>疟疾数据下载</h2>
		<hr />
	</div>
	
	<div class="partDivide">
		<button id="returnTerm" class="btn btn-primary pull-left" type="submit" onclick="window.open('dataDownload.html')" style="margin-left: 50px;">返回</button>
		<button id="submitTerm" class="btn btn-primary pull-right" type="submit" style="margin-right: 50px;">开始下载</button>
	</div>

	<div class="partDivide">
		<div class="form-group" style="margin-left: 50px;">
			<label class="fieldName">选择时间区间：</label>
			<input id="beginYear" class="form-control" type="number" style="width: 170px;" min="1900" max="2099" placeholder="数据开始年份" />
			~
			<input id="endYear" class="form-control" type="number" style="width: 170px;" min="1900" max="2099" placeholder="数据结束年份" />
		</div>
	</div>

	<div class="partDivide">
		<div class="form-group" style="margin-left: 50px;">
			<label class="fieldName">选择年龄区间：</label>
			<input id="minAge" class="form-control" type="number" style="width: 170px;" min="1" max="100" placeholder="最小年龄" />
			~
			<input id="maxAge" class="form-control" type="number" style="width: 170px;" min="1" max="100" placeholder="最大年龄" />
		</div>
	</div>

	<div class="partDivide">
		<form class="form-inline" style="margin-left: 50px;">
					<span class="fieldName">请选择性别：</span>
				
					<div class="form-group">
						<select id="sex" class="mySelect" style="width: 170px; margin-left: 18px;">
							<option>全部</option>
							<option>男</option>
							<option>女</option>
						</select>
					</div>
		</form>
	</div>

	<div class="partDivide">
		<form class="form-inline" style="margin-left: 50px;">
			<label class="fieldName">选择数据地区：</label>
				<div class="form-group">
					
					<select id="province" class="mySelect" style="width: 170px;margin-right: 10px;">
						<option>未选</option>
					</select>
				
					<select id="city" class="mySelect" style="width: 170px; margin-right: 10px;">
						<option>未选</option>
					</select>
					
					<select id="county" class="mySelect" style="width: 170px; margin-right: 10px;">
						<option>未选</option>
					</select>
			
					<select id="village" class="mySelect" style="width: 170px; margin-right: 10px;">
						<option>未选</option>
					</select>
				</div>
		</form>
	</div>

	<div class="partDivide" style="margin-bottom: 100px;">
		<div class="fieldContainer">
			<div class="describe">
				<div>
					<span class="fieldName" style="margin-left: 50px;">请选择将要下载的字段：</span>
					<button id="needNon" class="btn btn-default" style="margin-right: 50px;">全不选</button>
					<button id="needAll" class="btn btn-default">全选</button>
				</div>
			</div>
			<table>
				<tr th:each="categoryFieldsRe,categoryFieldsReStat : ${categoryFieldsRes}">
					<label class="field">
						<input type="checkbox" id="fields" name="selectedFields" th:value="${categoryFieldsRe.displayName}"/>
						<label th:text="${categoryFieldsRe.displayName}"></label>
					</label>
				</tr>
			</table>
		</div>
	</div>
</section>

<!--引用js-->
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/myjs/downloadMalaria.js}"></script>
<script type="text/javascript"th:src="@{/js/FourLevelLinkage.js}"></script>
<!--自定义js-->
<script type="text/javascript" th:src="@{/js/myjs/downloadDisease.js}"></script>
</body>
</html>
