<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<meta charset="UTF-8" />
		<title>气候数据下载</title>
		<!--引用css-->
		<link rel="stylesheet" type="text/css" th:href="@{/css/plugins/iCheck/flat/blue.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/mycss/download.css}" />
		<!--自定义css-->
		<link rel="stylesheet" type="text/css" th:href="@{/css/mycss/downloadWeather.css}" />
	</head>
	
	<body>
		<section class="container">
			<div align="center">
				<h2>气候数据下载</h2>
				<hr />
			</div>
			
			<div class="partDivide">
				<a id="returnTerm" href="/DownloadDBData/downloadView" class="btn btn-link pull-left" type="submit">返回</a>
        		<button id="submitTerm" class="btn btn-primary pull-right" type="submit">开始下载</button>
			</div>
			
			<div class="partDivide">
				<div class="form-group">
					<label class="fieldName">选择时间区间：</label>
					<input id="beginYear" class="form-control" type="number" min="1900" max="2099" placeholder="数据开始年份"/>
            		<input id="endYear" class="form-control" type="number" min="1900" max="2099" placeholder="数据结束年份"/>
				</div>
			</div>
			
			<hr />
			
			<div class="partDivide">
				<div class="fieldContainer">
					<div class="describe">
						<div>
                    		<span class="fieldName">请选择将要下载的字段：</span>
                    		<button id="needNon" class="btn btn-default" >全不选</button>
                    		<button id="needAll" class="btn btn-default" >全选</button>
                		</div>
					</div>
					
					<th:each items="" var="item">
                		<label class="field">
                    		<input id="fields" type="checkbox" name="selectedFields" value=""/>
                   			 <label></label>
                		</label>
           			 </th:each>
				</div>
			</div>
		</section>
		
		<!--引用js-->
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
		<script type="text/javascript" th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/plugins/layer/layer.js}"></script>
		<script type="text/javascript" th:src="@{/js/myjs/downloadWeather.js}"></script>
	</body>
</html>
