<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<meta charset="UTF-8" />
		<title>地址解析</title>
	</head>
	
	<body>
		<div align="center">
			<h3>地址经纬度采集测试</h3>
		</div>
		
		<div id="test">
        	<button id="btn" onclick="doOptions();">点击测试</button>
    	</div>
    	
    	<!--引用js-->
    	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    	<script type="text/javascript" th:src="@{/js/plugins/baiduApi/geoCodingApi.js}"></script>
	</body>
</html>
