<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<title>首页</title>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fKhoym1WRjv6As8wpebyVtndCGnDWZuU"></script>
		<script type="text/javascript" src="../../../static/js/myjs/index.js"></script>
		<link rel="stylesheet" type="text/javascript" href="../../../static/css/mycss/index.css" />
	</head>
	
	<body>
		<div id="container"></div>
	</body>
</html>
