<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" http-equiv="content-type" content="text/html" />
		<meta name="viewport" content="initial=1.0, user-scalable=no" />
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=C1LOVvNRQHK32i52xzOFBkoNPetGDrxy"></script>
		<script type="text/javascript" src="../static/js/plugins/baiduApi/Heatmap_min.js"></script>
		<script type="text/javascript" src="../static/js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../static/js/myjs/hotMap.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/mycss/hotMap.css" />
		<title>热力图功能</title>
	</head>
	<body>
		<section id="container"></section>
	</body>
</html>
