<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edupractice.malaria.modules.common.dao.CaseCategory2Mapper" >
  <resultMap id="BaseResultMap" type="com.edupractice.malaria.modules.common.pojo.CaseCategory2" >
    <constructor >
      <idArg column="category_id2" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category2_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    category_id2, category2_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.edupractice.malaria.modules.common.pojo.CaseCategory2Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from case_category2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from case_category2
    where category_id2 = #{categoryId2,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from case_category2
    where category_id2 = #{categoryId2,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.edupractice.malaria.modules.common.pojo.CaseCategory2Example" >
    delete from case_category2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edupractice.malaria.modules.common.pojo.CaseCategory2" >
    insert into case_category2 (category_id2, category2_name)
    values (#{categoryId2,jdbcType=INTEGER}, #{category2Name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.edupractice.malaria.modules.common.pojo.CaseCategory2" >
    insert into case_category2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId2 != null" >
        category_id2,
      </if>
      <if test="category2Name != null" >
        category2_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId2 != null" >
        #{categoryId2,jdbcType=INTEGER},
      </if>
      <if test="category2Name != null" >
        #{category2Name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edupractice.malaria.modules.common.pojo.CaseCategory2Example" resultType="java.lang.Integer" >
    select count(*) from case_category2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update case_category2
    <set >
      <if test="record.categoryId2 != null" >
        category_id2 = #{record.categoryId2,jdbcType=INTEGER},
      </if>
      <if test="record.category2Name != null" >
        category2_name = #{record.category2Name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update case_category2
    set category_id2 = #{record.categoryId2,jdbcType=INTEGER},
      category2_name = #{record.category2Name,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edupractice.malaria.modules.common.pojo.CaseCategory2" >
    update case_category2
    <set >
      <if test="category2Name != null" >
        category2_name = #{category2Name,jdbcType=VARCHAR},
      </if>
    </set>
    where category_id2 = #{categoryId2,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edupractice.malaria.modules.common.pojo.CaseCategory2" >
    update case_category2
    set category2_name = #{category2Name,jdbcType=VARCHAR}
    where category_id2 = #{categoryId2,jdbcType=INTEGER}
  </update>
</mapper>