<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edupractice.malaria.modules.common.dao.IndicatorMapper" >
  <resultMap id="BaseResultMap" type="com.edupractice.malaria.modules.common.pojo.Indicator" >
    <constructor >
      <idArg column="field_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <idArg column="belong_table" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="table_alias" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="display_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="downable" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="category" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    field_name, belong_table, table_alias, display_name, downable, category
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.edupractice.malaria.modules.common.pojo.IndicatorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from indicator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.edupractice.malaria.modules.common.pojo.IndicatorKey" >
    select 
    <include refid="Base_Column_List" />
    from indicator
    where field_name = #{fieldName,jdbcType=VARCHAR}
      and belong_table = #{belongTable,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.edupractice.malaria.modules.common.pojo.IndicatorKey" >
    delete from indicator
    where field_name = #{fieldName,jdbcType=VARCHAR}
      and belong_table = #{belongTable,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.edupractice.malaria.modules.common.pojo.IndicatorExample" >
    delete from indicator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edupractice.malaria.modules.common.pojo.Indicator" >
    insert into indicator (field_name, belong_table, table_alias, 
      display_name, downable, category
      )
    values (#{fieldName,jdbcType=VARCHAR}, #{belongTable,jdbcType=VARCHAR}, #{tableAlias,jdbcType=VARCHAR}, 
      #{displayName,jdbcType=VARCHAR}, #{downable,jdbcType=TINYINT}, #{category,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edupractice.malaria.modules.common.pojo.Indicator" >
    insert into indicator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fieldName != null" >
        field_name,
      </if>
      <if test="belongTable != null" >
        belong_table,
      </if>
      <if test="tableAlias != null" >
        table_alias,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
      <if test="downable != null" >
        downable,
      </if>
      <if test="category != null" >
        category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="belongTable != null" >
        #{belongTable,jdbcType=VARCHAR},
      </if>
      <if test="tableAlias != null" >
        #{tableAlias,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="downable != null" >
        #{downable,jdbcType=TINYINT},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edupractice.malaria.modules.common.pojo.IndicatorExample" resultType="java.lang.Integer" >
    select count(*) from indicator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update indicator
    <set >
      <if test="record.fieldName != null" >
        field_name = #{record.fieldName,jdbcType=VARCHAR},
      </if>
      <if test="record.belongTable != null" >
        belong_table = #{record.belongTable,jdbcType=VARCHAR},
      </if>
      <if test="record.tableAlias != null" >
        table_alias = #{record.tableAlias,jdbcType=VARCHAR},
      </if>
      <if test="record.displayName != null" >
        display_name = #{record.displayName,jdbcType=VARCHAR},
      </if>
      <if test="record.downable != null" >
        downable = #{record.downable,jdbcType=TINYINT},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update indicator
    set field_name = #{record.fieldName,jdbcType=VARCHAR},
      belong_table = #{record.belongTable,jdbcType=VARCHAR},
      table_alias = #{record.tableAlias,jdbcType=VARCHAR},
      display_name = #{record.displayName,jdbcType=VARCHAR},
      downable = #{record.downable,jdbcType=TINYINT},
      category = #{record.category,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edupractice.malaria.modules.common.pojo.Indicator" >
    update indicator
    <set >
      <if test="tableAlias != null" >
        table_alias = #{tableAlias,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="downable != null" >
        downable = #{downable,jdbcType=TINYINT},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
    </set>
    where field_name = #{fieldName,jdbcType=VARCHAR}
      and belong_table = #{belongTable,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edupractice.malaria.modules.common.pojo.Indicator" >
    update indicator
    set table_alias = #{tableAlias,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      downable = #{downable,jdbcType=TINYINT},
      category = #{category,jdbcType=VARCHAR}
    where field_name = #{fieldName,jdbcType=VARCHAR}
      and belong_table = #{belongTable,jdbcType=VARCHAR}
  </update>
</mapper>