<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edupractice.malaria.modules.common.dao.MedicalUnitMapper" >
  <resultMap id="BaseResultMap" type="com.edupractice.malaria.modules.common.pojo.MedicalUnit" >
    <constructor >
      <idArg column="medical_unit_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="unit_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit_area_code" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    medical_unit_id, unit_name, unit_type, unit_area_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.edupractice.malaria.modules.common.pojo.MedicalUnitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from medical_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from medical_unit
    where medical_unit_id = #{medicalUnitId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from medical_unit
    where medical_unit_id = #{medicalUnitId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.edupractice.malaria.modules.common.pojo.MedicalUnitExample" >
    delete from medical_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edupractice.malaria.modules.common.pojo.MedicalUnit" useGeneratedKeys="true" keyProperty="medicalUnitId" >
    insert into medical_unit (unit_name, unit_type, unit_area_code
      )
    values (#{unitName,jdbcType=VARCHAR}, #{unitType,jdbcType=VARCHAR}, #{unitAreaCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edupractice.malaria.modules.common.pojo.MedicalUnit" useGeneratedKeys="true" keyProperty="medicalUnitId" >
    insert into medical_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="unitType != null" >
        unit_type,
      </if>
      <if test="unitAreaCode != null" >
        unit_area_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null" >
        #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="unitAreaCode != null" >
        #{unitAreaCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edupractice.malaria.modules.common.pojo.MedicalUnitExample" resultType="java.lang.Integer" >
    select count(*) from medical_unit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update medical_unit
    <set >
      <if test="record.medicalUnitId != null" >
        medical_unit_id = #{record.medicalUnitId,jdbcType=INTEGER},
      </if>
      <if test="record.unitName != null" >
        unit_name = #{record.unitName,jdbcType=VARCHAR},
      </if>
      <if test="record.unitType != null" >
        unit_type = #{record.unitType,jdbcType=VARCHAR},
      </if>
      <if test="record.unitAreaCode != null" >
        unit_area_code = #{record.unitAreaCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update medical_unit
    set medical_unit_id = #{record.medicalUnitId,jdbcType=INTEGER},
      unit_name = #{record.unitName,jdbcType=VARCHAR},
      unit_type = #{record.unitType,jdbcType=VARCHAR},
      unit_area_code = #{record.unitAreaCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edupractice.malaria.modules.common.pojo.MedicalUnit" >
    update medical_unit
    <set >
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null" >
        unit_type = #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="unitAreaCode != null" >
        unit_area_code = #{unitAreaCode,jdbcType=VARCHAR},
      </if>
    </set>
    where medical_unit_id = #{medicalUnitId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edupractice.malaria.modules.common.pojo.MedicalUnit" >
    update medical_unit
    set unit_name = #{unitName,jdbcType=VARCHAR},
      unit_type = #{unitType,jdbcType=VARCHAR},
      unit_area_code = #{unitAreaCode,jdbcType=VARCHAR}
    where medical_unit_id = #{medicalUnitId,jdbcType=INTEGER}
  </update>
</mapper>